﻿@model List<ReservedDate>

<h1>@ViewData["Title"]</h1>

<p>In this page you can check if a property is available to be reserved.</p>
<p>Please use the Property List page to get the ID of the property you want to check.</p>

@using (Html.BeginForm("Availability", "Home", FormMethod.Post))
{
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label>Property ID <small><i>(Use 1_ at the start of the ID. Ex.: 1_123456)</i></small></label>
            @Html.Editor("Id", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Date From</label>
            @Html.Editor("CheckinDate", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label>Date To</label>
            @Html.Editor("CheckoutDate", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
        </div>
    </div>
    <div class="col-lg-12 text-right">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</div>
}

<br />

@if(ViewBag.DateAvailabilityCheck != null)
{
    bool propertyAvailableToBook = ViewBag.DateAvailabilityCheck.Available;
    string stringAvailable = (propertyAvailableToBook ? $"<span class=\"font-weight-bold text-success\">AVAILABLE</span>" : $"<span class=\"font-weight-bold text-danger\">NOT AVAILABLE</span>");

    <div class="row">
        <div class="col-lg-12">
            <h4>@Html.Raw($"From {ViewBag.DateAvailabilityCheck.Checkin.ToString("yyyy-MM-dd")} to {ViewBag.DateAvailabilityCheck.Checkout.ToString("yyyy-MM-dd")}, the Property {ViewBag.DateAvailabilityCheck.IdProperty} is {stringAvailable} to be booked")</h4>
        </div>
    </div>
}

<br />

@if (Model != null && Model.Count > 0)
{
    <div class="row">
        <div class="col-lg-12">
            <p>All dates unavailable for this property:</p>
        </div>
        <div class="col-lg-3">
            <table class="table table-responsive-lg text-center">
                <thead>
                    <tr>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DateBooked.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    }
