﻿@model Booking

<h1>@ViewData["Title"]</h1>

<p>In this page you can make a new booking reservation.</p>
<p>The booking process is separated into three steps:</p>
<p>
    <ul>
        <li><b>Start Booking:</b> The booking is created and reserved in our system, so the booking is guaranteed to be yours for at least 15 minutes (usually this step occurs before getting into the payment step, for example);</li>
        <li><b>Make Booking:</b> The booking will be saved as "active" and VHC will be notified that the booking was finished and active;</li>
        <li><b>Cancel Booking:</b> If the Make Booking process wasn't executed yet, you can cancel your booking anytime using this. Let be clear that "active" bookings can only be cancelled by VHC;</li>
    </ul>
</p>

@using (Html.BeginForm("Booking", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>Property ID <small><i>(Use <b>1_</b> at the start of the ID)</i></small></label>
                @Html.Editor("PropertyId", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Date Checkin</label>
                @Html.Editor("Checkin", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Date Checkout</label>
                @Html.Editor("Checkout", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Language</label>
                @Html.DropDownList("Language", new SelectList(Enum.GetValues(typeof(Enums.Language))), "Select...", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Currency Wished</label>
                @Html.DropDownList("CurrencyWished", new SelectList(Enum.GetValues(typeof(Enums.CurrencyWished))), "Select...", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>First Name</label>
                @Html.Editor("FirstName", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Last Name</label>
                @Html.Editor("LastName", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Phone Number <small><i>(only numbers)</i></small></label>
                @Html.Editor("Phone", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Email</label>
                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Message</label>
                @Html.Editor("Message", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Address</label>
                @Html.Editor("Address", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>Zip Code</label>
                @Html.Editor("ZipCode", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>City</label>
                @Html.Editor("City", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>State</label>
                @Html.Editor("State", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>Country</label>
                @Html.Editor("Country", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>Booking ID <small><i>(if applicable*)</i></small></label>
                @Html.Editor("BookingId", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-9 text-right">
            <button type="submit" class="btn btn-primary" name="action" value="start">Start Booking</button>
            <button type="submit" class="btn btn-success" name="action" value="make">Make Booking</button>
            <button type="submit" class="btn btn-danger" name="action" value="cancel">Cancel Booking</button>
        </div>
    </div>
}

<br />

@if (ViewBag.StartBookingResult != null)
{
    var item = (ViewBag.StartBookingResult as Booking);
    <div class="row">
        <div class="col-lg-12">
            @if (item.BookingPlaced)
            {
                <h4>@Html.Raw($"<b>[Start Booking]</b> Your booking is <span class=\"text-success\">created</span>! The booking number is <b>{item.BookingId}</b>, but is pending.<br />Use the ID for finish the booking process or manually cancel.")</h4>
            }
            else
            {
                @Html.Raw("<b>[Start Booking]</b> Sorry. Your booking is <span class=\"text-danger\">not created</span>. Please review the availability and the info and try again.")
            }
        </div>
    </div>
}

<br />

@if (ViewBag.MakeBookingResult != null)
{
    var item = (ViewBag.MakeBookingResult as Booking);
    <div class="row">
        <div class="col-lg-12">
            @if (item.BookingPlaced)
            {
                <h4>@Html.Raw($"<b>[Make Booking]</b> Your booking is <span class=\"text-success\">confirmed</span>! Your booking number is <b>{item.BookingId}</b>!")</h4>
            }
            else
            {
                @Html.Raw("<b>[Make Booking]</b> Sorry. Your booking is <span class=\"text-danger\">not confirmed</span>. Please review the availability and the info and try again.")
            }
        </div>
    </div>
}

<br />

@if (ViewBag.CancelBookingResult != null)
{
    var item = (ViewBag.CancelBookingResult as BookingCancelModel).BookingCancelResults.FirstOrDefault();
    <div class="row">
        <div class="col-lg-12">
            <h4>@Html.Raw($"<b>[Cancel Booking]</b> Action result: {item.Value}<br />Booking number: <b>{item.Key}</b>")</h4>
        </div>
    </div>
}