﻿@model List<PropertyListResultModel>

<h1>@ViewData["Title"]</h1>

<p>In this page you can search for properties using many filters available.</p>

@using (Html.BeginForm("Properties", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Property ID <small><i>(Use 1_ at the start of the ID. Ex.: 1_123456)</i></small></label>
                @Html.Editor("IdProperty", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Date From</label>
                @Html.Editor("DateFrom", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Date To</label>
                @Html.Editor("DateTo", new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Zones</label>
                @Html.ListBox("Zones", new SelectList(ViewBag.Zones, "Id", "Name"), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Communities</label>
                @Html.ListBox("Communities", new SelectList(ViewBag.Communities), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Categories</label>
                @Html.ListBox("Categories", new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Types</label>
                @Html.ListBox("Types", new SelectList(ViewBag.Types), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Amenities</label>
                @Html.ListBox("Amenities", new SelectList(ViewBag.Amenities, "Id", "Name"), new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Language</label>
                @Html.DropDownList("Language", new SelectList(Enum.GetValues(typeof(Enums.Language))), "Select...", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Currency Wished</label>
                @Html.DropDownList("CurrencyWished", new SelectList(Enum.GetValues(typeof(Enums.CurrencyWished))), "Select...", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-12 text-right">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
}

<br />

@if (Model != null && Model.Count > 0)
{
    <div class="row">
        @*<pre>@Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented)</pre>*@
        <div class="col-lg-12">
            <table class="table table-responsive-lg text-center">
                <thead>
                    <tr>
                        <th>Property ID</th>
                        <th>Property Code</th>
                        <th>Community</th>
                        <th>Price Per Night (Base)</th>
                        <th>Price Calculated (if applicable)</th>
                        <th style="width: 25%;">Property Image</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.IdPmsExternal</td>
                            <td>@item.McPropertyName</td>
                            <td>@item.Name</td>
                            <td>$ @item.PricePerNightBase.ToString("N2")</td>
                            <td>
                                @if (item.Price != null)
                                {
                                    @Html.Raw($"Total $ {item.Price.Total.ToString("N2")} | {item.Price.NumberOfNights} night(s)");
                                }
                            </td>
                            <td><img src="@(item.ImageSource)" class="img-fluid img-thumbnail" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
